<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Excel File and Process</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const historyButton = document.getElementById("history-button");
            const historyList = document.getElementById("history-list");
    
            historyButton.addEventListener("click", function() {
                historyList.classList.toggle("show-history-list");
            });
        });
    </script>
    
</head>
<body>
    <div class="container">
        <!-- Move the history button and list to the top right corner -->
        <div class="history-button-container">
            <button class="history-button" id="history-button">History</button>
            <ul id="history-list" class="history-list">
                {% for uploaded_file in uploaded_files %}
                    <li>
                        <a href="{{ url_for('view_output', filename=uploaded_file) }}">{{ uploaded_file }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <h1>Upload an Excel File and Process</h1>
        <form method="POST" enctype="multipart/form-data">
            <label for="file" class="upload-label">Choose a file</label>
            <input type="file" name="file" id="file" accept=".xlsx">
            <button type="submit" class="upload-button">Upload and Process</button>
        </form>
        {% if uploaded_file %}
        <p>Uploaded file: {{ uploaded_file }}</p>
        </div>
        <div class="result-container">
            <h2>Processing Results</h2>
            <table border="1">
                <tr>
                    <th>Count</th>
                    <th>Referenceid</th>
                    <th>Duplicates</th>
                    <th>Locations</th>
                </tr>
                {% for reference_id, data in output.items() %}
                    <tr>
                        <td>{{ data.count }}</td>
                        <td>{{ data.most_zeros }}</td>
                        <td>
                            {% for duplicate in data.duplicates %}
                                {{ duplicate.replace("'", '') }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for location in data.locations %}
                                {{ location }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</body>
</html>
