<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Output</title>
</head>
<body>
    <h1>Output for {{ selected_filename }}</h1>
    <table border="1">
        <tr>
            <th>Count</th>
            <th>Referenceid</th>
            <th>Duplicates</th>
            <th>Locations</th>
        </tr>
        {% for reference_id, data in selected_output.items() %}
            <tr>
                <td>{{ data.count }}</td>
                <td>{{ data.most_zeros }}</td>
                <td>
                    {% for duplicate in data.duplicates %}
                        {{ duplicate.replace("'", '') }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for location in data.locations %}
                        {{ location }}<br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
